* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
}

nav {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 35vh;
  padding-inline: 5px;
  padding-block: 5px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
  padding: 10px;
}

.union-img {
  width: 168px;
  height: 31px;
}

.logo-name {
  width: 168px;
  height: 31px;
}

.logo-img {
  width: 41px;
  height: 41px;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 30px;
  border-radius: 6px;
  border: 0.5px solid #b5bdcd;
  padding: 10px 10px;
}

.user {
  display: flex;
  gap: 10px;
}

#u-name {
  font-family:
    Spline Sans,
    sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #2a2a2a;
}

#u-user {
  font-family:
    Spline Sans,
    sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #626d82;
}

.icon-dropdown {
  width: 19px;
  height: 19px;
  border-radius: 6px;
}

.nav-tabs {
  display: flex;
  flex-direction: column;

  gap: 22px;
}

.items-img {
  height: 24px;
  width: 24px;
}

.items {
  display: flex;
  gap: 5%;
  font-family: "Spline Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #626d82;
  padding-inline: 10px;
}

.nav-tabs a {
  text-decoration: none;
}

.items:hover {
  display: flex;

  font-family: "Spline Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #d3f7b5;
  color: #626d82;
  padding: 10px;
  border-radius: 5px;
}

/* #nav-doc {
  display: flex;
  align-items: center;
  
  background-color: #d3f7b5;
  padding: 10px;
} */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 23px;
  padding: 10px;
}

#phone {
  width: 27px;
  height: 27px;
  border-width: 2.5px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

footer h1 {
  font-family: "Spline Sans", sans-serif;
  font-weight: 550;
  font-size: 28px;
  color: #1f4451;
}

footer p {
  font-family: "Spline Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

#btn-contact {
  width: 97px;
  height: 34px;
  border-radius: 5px;
  background-color: #1f4451;
}

#btn-contact p {
  font-family: "Spline Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #ffffff;
}

.container {
  width: 80%;
  height: 100vh;
  background-color: #f5f0ea;
  display: flex;
  flex-direction: column;
  padding-block: 30px;
  padding-inline: 70px;
  gap: 4%;
}

.tab-1 {
  display: flex;
}

.item-home {
  font-family: "Spline Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #436d7c;
}

#right-dropdown {
  width: 20px;
  height: 20px;
}

#item-document {
  font-family: "Spline Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #b5bdcd;
}

.tab-2 {
  display: flex;
  justify-content: space-between;
}

.head-2 {
  display: flex;
  justify-content: space-between;
  gap: 8%;
}

.crud-btn {
  display: flex;
  justify-content: space-between;
  gap: 3%;
}

#add-btn {
  width: 100px;
  height: 32px;
  font-size: 12px;
  font-family: "Spline Sans", sans-serif;
  font-weight: 500;
  border-radius: 6px;
  border: 1px solid #b5bdcd;
  background: #ffffff;
  color: #626d82;
  cursor: pointer;
}

.delete-btn {
  width: 100px;
  height: 32px;
  font-size: 12px;
  font-family: "Spline Sans", sans-serif;
  font-weight: 500;
  border-radius: 6px;
  border: 1px solid #b5bdcd;
  background: #ffffff;
  color: #626d82;
  cursor: pointer;
}

.title_div {
  display: flex;
  flex-direction: column;
}

.input-style {
  font-family: "Spline Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  height: 50%;
  gap: 10%;
  border-radius: 5px;
  border: none;
}

.form_input {
  font-family: "Spline Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 5px 5px;
  border: 0.5px solid #b5bdcd;
}

.add_btn_form {
  width: 100px;
  height: 32px;
  font-size: 12px;
  font-family: "Spline Sans", sans-serif;
  font-weight: 500;
  border-radius: 6px;
  border: 1px solid #b5bdcd;
  background: #ffffff;
  color: #626d82;
  cursor: pointer;
}

#head-1 h1 {
  font-family: Zin Display;
  font-weight: 400;
  font-size: 30px;
}

.searchbox {
  position: relative;
  width: 70%;
  height: 37px;
}

#search-box {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 2px;
  padding: 10px;
}

.search-logo {
  position: absolute;
  top: 8px;
  right: 7px;
}



.settings {
  position: relative;
  top: 5px;
}

.status_btn {
  width: 139px;
  height: 23px;
  border-radius: 22px;
  padding: 2px 6px;
  border: none;
  background-color: #436d7c;

  color: white;
}

.btn-main {
  width: 134px;
  height: 34px;
  border-radius: 5px;
  border-width: 1px;
  font-weight: 500;
  color: #626d82;
  background-color: #ffffff;
}

#doc-title {
  font-family: "Spline Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

#doc-title-input {
  font-family: "Spline Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
table {
  width: 90%;
  border-collapse: collapse;
  table-layout: fixed;
  background-color: #ffffff;
   border-radius: 8px;
}



thead {
  border-bottom: 1px solid #e0e0e0;
}

th, td {
  padding: 16px 16px;   /* equal spacing */
  text-align: left;
  vertical-align: middle;
}
tbody tr {
  border-bottom: 1px solid #f0f0f0;
}

tbody tr:last-child {
  border-bottom: none;
}

.td-items {

  font-family: "Spline Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #436d7c;

}

.hidden {
  display: none;
}

#main-form {
  height: 100vh;
  width: 100vw;
  border-radius: 10px;
}

#form-div {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 10px;
  width: 30%;
  height: 30%;
  top: 20%;
  left: 40%;
  border-radius: 10px;
  padding: 20px;
  justify-content: center;

  position: absolute;
}

form h1 {
  font-family:
    Spline Sans,
    sans-serif;
  font-weight: 500;
  font-size: 30px;
}

.signNow,
.pending,
.completed {
  display: inline-block;
  padding: 6px 14px;
  border-radius: 22px;
  font-size: 14px;
  text-align: center;
}

.signNow {
  background-color: #436d7c;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
}

.pending {
  background-color: #e8ecf1;
  color: #626d82;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
}

.completed {
  color: #1f4451;
  background-color: #d3f7b5;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
}

.date-text {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  color: #626d82;
}

.btn-status {
  width: 12px;
  height: 20px;
  border: 1px solid #b5bdcd;
  border-radius: 5px;
  border-width: 1px;
  color: #626d82;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  text-align: center;
}

.settings-wrapper {
  position: relative;
}

.settings-div {
  display: none;
  position: absolute;
  right: 25;
  top: 25px;
  background: white;
  border: 1px solid #ddd;
  padding: 5px;
  flex-direction: column;
  z-index: 100;
}

.edit,
.delete {
  width: 100px;
  height: 32px;
  font-size: 12px;
  font-family: "Spline Sans", sans-serif;
  font-weight: 500;
  border-radius: 6px;
  border: 1px solid #b5bdcd;
  background: #ffffff;
  color: #626d82;
  cursor: pointer;
}